.dsc-product-details-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.dsc-product-details-top img {
  width: 220px;
}

.dsc-product-details-bottom {
  padding: 10px 20px;
}

.dsc-product-details-bottom h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 20px;
}

.dsc-product-details-bottom h4 {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
}

.dsc-product-details-bottom p {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
  margin: 10px 0;
}

.dsc-category-container {
    display: flex;
    flex-wrap: wrap;
}

.dsc-extra-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

.date-input:focus {
  border-color: #2563eb; /* azul vibrante */
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2); /* azul com opacidade */
  outline: none;
}

.date-input:disabled {
  background-color: #f9f9f9;
  color: #333;
  cursor: not-allowed;
}

